[install]
is_configured = 0
state = enabled

[ui]
is_visible = 1
label = {{ app_label }}

[launcher]
author = Heron
description = {{ plan.app_description }}
version = 1.0.0

[package]
id = {{ plan.app_name }}
